.switch-btn {
  position: relative;
  right: 75px;
  top: 5px;
  width: 7rem;
  height: 2rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid white;
}
.switch-btn span {
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: capitalize;
  color: black;
}
.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  border-radius: 10px;
  margin: 0;
  display: block;
  transition: 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.slide .switch {
  left: 50%;
}

/* --------------- night mode ---------------- */
.night-body {
  background-color: black;
}
.night-text {
  color: white;
}
.night-input {
  background-color: #eee !important;
  color: black !important;
  caret-color: black !important;
}
.night-card {
  background-color: #434343 !important;
}
.night-shadow {
  box-shadow: 0px 0px 10px 15px white !important;
}
.night-header {
  background-color: rgba(255, 255, 255, 0.418);
  color: black;
}
.night-shadow-sidebar {
  box-shadow: 3px 1px 34px 1px white !important;
}

.night-footer {
  background-color: #bbb !important;
  color: black !important;
}
