@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("base.css");

/* ----------------- global rules ------------------ */
* {
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Noto Sans", sans-serif;
  --main-color: #777;
  --main-transition: 0.3s;
  --main-padding: 100px;
  --main-transition: 0.5s;
  scroll-behavior: smooth;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.main-title {
  font-size: 3rem;
  text-align: center;
}
.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 50px;
}

/* Start Components */
.main-heading {
  text-align: center;
  padding: 0 100px;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 120px;
  background-color: black;
  left: 50%;
  height: 2px;
  bottom: -20px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.main-heading h2::after {
  content: "";
  position: absolute;
  width: 15px;
  left: 50%;
  height: 15px;
  bottom: -28px;
  border: 2px solid black;
  border-radius: 50%;
  background: white;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  color: #777;
  line-height: 2;
}
/* End Components */

/* ------- header -------- */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: hsla(0, 0%, 47%, 0.27);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}
.links {
  display: flex;
  justify-self: center;
}
.links ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.links ul li a {
  font-size: 1.2rem;
  padding: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.links ul li a:hover {
  /* box-shadow: 20px 20px 5px 5px var(--main-color); */
  box-shadow: 0px 0px 5px 2px var(--main-color);
  font-weight: bold;
}
.logo {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.8rem;
}
.logo span {
  color: var(--main-color);
  font-size: 3rem;
}

/* -------- home section --------- */
.home {
  display: flex;
  margin-top: 120px;
}
.intro {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.who {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0;
}
.me {
  margin: 25px 40px 43px 23px;
  position: relative;
  /* top: 45px;
  left: 65px; */
}
.me img {
  max-width: 100%;
  width: 40rem;
  box-shadow: 0px 0px 10px 15px var(--main-color);
  /* box-shadow: 10px 10px 5px red; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.name {
  font-size: 4rem;
  margin-top: 0;
}
.def {
  /* font-weight: bold; */
  font-size: 1.5rem;
}
/* -------------- about us section ------------ */
.about-us {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 60px;
  padding-block: 20px;
  margin-top: 9rem;
}
.about-us h2,
.services h2 {
  text-align: center;
}
.about-us ul li,
.services ul li {
  line-height: 1.6rem;
  margin-bottom: 5px;
}

/* skills  */
.skills {
  width: 95%;
  /* padding-left: 2.5%;
    padding-right: 2.5%; */
}
.skill h3 {
  display: flex;
  justify-content: space-between;
}
.skill h3 span {
  color: var(--main-color);
  font-weight: bold;
  font-size: 12px;
  border: 1px solid black;
  padding: 3px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.skills .the-progress {
  width: 100%;
  background-color: #ddd;
  height: 30px;
  border-radius: 5px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.skills .the-progress span {
  background-color: var(--main-color);
  height: 100%;
  position: absolute;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* experince */

/* ----------------- services section ---------------- */
.services {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--section-color);
  position: relative;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}
.services .box {
  background-color: white;
  counter-increment: services;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.services .box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.services .box:hover {
  /* box-shadow: 0 12px 20px 0 rgb(0 0 0 / 0.2), 0 2px 4px 0 rgb(0, 0, 0 / 0.12); */
  /* box-shadow: 0 12px 20px 0 black, 0 2px 4px 0 black; */
  /* box-shadow: 10px 10px 2px black; */
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.services .box:hover::before {
  width: 100%;
}
.services .box i {
  display: block;
  margin: 20px auto;
  text-align: center;
  color: #d5d5d5;
}
.services .box h3 {
  text-align: center;
  font-size: 23px;
  color: var(--main-color);
}
.services a {
  color: var(--main-color);
  font-weight: bold;
}
.services .box .info {
  position: relative;
  text-align: right;
  background-color: #f9f9f9;
  padding: 15px;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  color: white;
  width: 90px;
  height: 100%;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .box .info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 80px;
  background-color: #d5d5d5;
  width: 50px;
  height: 101%;
  z-index: 1;
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
}
/* previous work  */
.services .show-me {
  color: white;
  padding: 55px 15px;
  background-color: rgba(0, 0, 0, 0.57);
  font-size: 1.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: .7s;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
}

.services .card:hover .show-me {
  /* width: 0;
  height: 0; */
  opacity: 0;
  display: none;
}

/* .services .card-wide .show-me{
  padding: 110px 45px;
  font-size: 3rem;
} */

/* .services .show-more::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 70%;
  background-color: red;
} */

/* ------------- contact us section ----------------- */
.contact {
  /* background-image: linear-gradient(180deg, #894a4c, #f8b6b8); */
  padding-block: 30px;
}
.form {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}
.form .input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.form textarea.input {
  resize: none;
  height: 200px;
}
.form .input:focus {
  outline: none;
}
.form [type="submit"] {
  display: block;
  width: 110%;
  padding: 15px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.form [type="submit"]:hover {
  background-color: black;
}
.content {
  text-align: center;
  padding: 0 20px;
}
.social {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-top: 80px;
}
.social a {
  color: var(--main-color);
  font-size: 1.8rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.social a:hover {
  color: black;
}

/* ------------------ footer ------------------------- */
footer {
  background-color: var(--main-color);
  text-align: center;
  color: white;
  padding-block: 30px;
}
footer p {
  margin-top: 0;
  font-weight: bold;
}
footer span {
  font-size: 2rem;
}

/* ---------- media queries ---------- */
@media (max-width: 600px) {
  .links ul {
    gap: 10px;
  }
  .links ul li a {
    font-size: 0.8rem;
  }
  .name {
    font-size: 3rem;
  }
  .who {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .def {
    margin: 0;
  }
}

@media (max-width: 700px) {
  .header {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .logo {
    text-align: center;
  }
  .me {
    display: flex;
  }
}
@media (max-width: 800px) {
  .home {
    flex-direction: column;
  }
  .me img {
    width: 35rem;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .about-us {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}
