<footer>
    <div class="img">
      <img src="imgs/footer-img.png" alt="" />
    </div>
    <div class="text">
      <p>Copy Rights 2022 &copy;</p>
      <p>Made With <span>&hearts;</span> By Hamad</p>
    </div>
    <div class="social">
      <a href="#" style="padding: 7px 14px"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#" style="padding: 7px"><i class="fab fa-youtube"></i></a>
    </div>
  </footer>
