<div class="sideBar col-3 col-md-2 " style="background-color: #e5e5e5;  height:100vh; width: 220px">
    <div class="profile col rounded-pill bg-white mt-2 d-flex align-items-center m-auto flex-column" 
        style="    width: 180px;
        height: 80vh;"
    >
    <div class="profile-content ">
        <div class="img-container">
            <img src="imgs/profileIimage.png"  alt="" width="150"class="pb-4 rounded-circle  profile-img">
            <button class="btn edit-button "><img src="imgs/edit.png" alt=""></button>
        </div>
       <div class="name-container">
        <h5 class="name fw-bolde text-center">Hamad Bakeel
        <button class="btn edit-button"><img src="imgs/edit.png" alt=""></button>
    </h5>   
    </div>
    </div>

    <div class="tabs">
        <ul class="mt-5">
            <li id="personal"><img src="imgs/personal-info.svg" alt=""> Personal Info</li>
            <li id="courses"><img src="imgs/courses.svg" alt=""> Course</li>
            <li id="experince"><img src="imgs/experince.png" alt=""> Experience</li>
            <li id="qualifications"><img src="imgs/qualification.png" alt=""> Services</li>
            <li id="skills"><img src="imgs/skills.png" alt=""> Skills</li>
        </ul>
    </div>
    </div>
</div>