<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Service</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>
  <body>
    <div class="container" style="margin-top: 10%; width: 60%">
        <h1 class="text-center">Edit The Service</h1>
        <form action="/services/update" method="post">
        <div class="form-group mb-3">
          <span class="input-group-text" id="basic-addon1">Service Name</span>
          <input
            type="text"
            class="form-control"
            name="serviceName"
            required
            value="<%=serviceName%> "
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="form-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            >Service Description</span
          >
          <input
            type="text"
            name="serviceDescription"
            class="form-control"
            required
            value="<%=serviceDescription%> "
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="form-group mb-3">
          <span class="input-group-text" id="basic-addon1">Served Clients</span>
          <input
            type="number"
            name="servedClients"
            required
            value="<%=servedClients%>"
            class="form-control" 
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <input type="text" name="id"value="<%=id%>" style="visibility: hidden;">
        <button type="submit" class="btn btn-outline-primary px-4">Update</button>
      </form>
    </div>
  </body>
</html>
